body {
  background-image: url("thensmall.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-attachment: fixed;
}

.rightAlignment {
  margin: auto 0;
  text-align: right;
}
